#addPostDiv {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    justify-content: center;
    border-style: solid;
    border-width: .3em;
    border-radius: 1.5em;
    border-color:rgb(127, 34, 204) ;
}

textarea {
    align-self: center;
    width: 15em;
    height: 7em;
    font-size: xx-large;
}

input{
    font-size: larger;
}


button{
    font-size: large;
    height: fit-content;
    width: fit-content;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    background-color: rgba(74, 12, 155, 0.753);
    align-self: center;
}