.login-page {
    border: 5px solid black;
    width: 100%;
    height: auto;
}

.login {
    width: 400px;
    height: 400px;
    border: 3px solid black;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register {
    width: 400px;
    height: 400px;
    border: 3px solid black;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-fields {
    text-align: center;
    margin-bottom: 5px;
}
.App {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#newslist {
    overflow: scroll;
    height: 20em;
    width: 25em;
}