.login-page {
    color: aliceblue;
    height: auto;
}

.login {
    border: .15em solid rgb(127, 34, 204);
    border-radius: 1em;
    padding:1.5em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.register {
    border: .15em solid rgb(127, 34, 204);
    border-radius: 1em;
    padding:1.5em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-fields {
    text-align: center;
    margin-bottom: 5px;
}
.App {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}




@media only screen and (min-width:100px) and (max-width:415px) {

}

@media only screen and (min-width:416px)and (max-width:767px){
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

}


@media only screen and (min-width: 1025px) and (max-width: 1200px){

}