
#children {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
#layout {
    align-items: center;
}
body{
    background-image: url("../images/paul-volkmer-fX-qWsXl5x8-unsplash.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}