.profileInput {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    border-style: solid;
    border-width: .15em;
    border-radius: 1.5em;
    border-color: rgb(127, 34, 204);
    width: fit-content;
    padding: 2em;
    margin: em;
    color: aliceblue;
    text-align: center;
}
textarea {
    border-radius: .5em;

}
input {
    border-radius: .3em;
    font-size: x-large;
}