.Nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 2em;
    font-size: x-large;
    font-weight: 700;
    flex-wrap: wrap;
    color:aliceblue ;
}
a:link {
    text-decoration: none;

}

.home {
    color: aliceblue;
}
.createPost {
    color: aliceblue;
}
.profilePage {
    color: aliceblue;
}
.editProfile{
    color: aliceblue
}


@media only screen and (min-width:100px) and (max-width:415px) {
    .Nav {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
    }    


}

@media only screen and (min-width:416px)and (max-width:767px){

    .Nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }

}    

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .Nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .Nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
}


@media only screen and (min-width: 1025px) and (max-width: 1200px){
    .Nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
}