#displayNews {
    width:30em;
    height: 30em;
    overflow-y: scroll ;
    border-radius: 1.5em;
    border-width: .3em;
    border-color: rgb(127, 34, 204);
    border-style: solid;
    margin: 2em;
    padding:1em;
}