.news-container {
    width: 100%;
    background-color: black;
    color: white;

}

/*Hides the screen when pixel reaches bellow 700px*/

@media only screen and (max-width: 700px) {
    .news-container {
        display: flex;
    }
}

.news-post {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border-top: 5px solid rgb(0, 255, 98);
    border-right: 1px solid rgb(0, 104, 122);
    border-left: 1px solid rgb(0, 104, 122);
}

.news-image {
    width: 100%;
    height: auto;
}

.news-title {
    background-color: rgba(63, 116, 126, 0.582);
    padding: 5px;
    width: fit-content;
}

.news-anchor {
    color: white;
    text-decoration: none;
}

