ul{
    list-style: none;
    color:aliceblue;
    border: rgb(127, 34, 204);
    border-width: .15em;
    border-style: solid;
    border-radius: 1.5em;
    font-size: larger;
    font-weight: 700;
    width: 20em;

}
/* li {
    scroll-margin-right:2em;
} */

.PostsDiv {
    margin-left:2em;
    margin-right: 1em;
    height: 43em;
    overflow-y: auto;
    overflow-x: hidden;
}