ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    color:rgb(255, 255, 255);
    border: rgb(127, 34, 204);
    border-width: .15em;
    border-style: solid;
    border-radius: 1.5em;
    font-size: large;
    font-weight: 500;
    width: 20em;
}
#postLI {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-right: 2em;
    flex-wrap: wrap;
    text-align: center;
}

#postBody {
    text-align:center;
    height: 10em;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    color: black
}
.PostsDiv {
    margin-left:1em;
    margin-right: 1em;
    height: 40em;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: .5em;

}

#postUL {
    align-items: center;
    align-content: center;
}



@media only screen and (min-width:100px) and (max-width:415px) {
    #postLI {

    }
    #postBody {

    }
    .PostsDiv{

    }
    #postUL  {

    }
}

@media only screen and (min-width:416px)and (max-width:767px){
    #postLI {

    }
    #postBody {

    }
    .PostsDiv{

    }
    #postUL  {
        
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #postLI {

    }
    #postBody {

    }
    .PostsDiv{

    }
    #postUL  {
        
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #postLI {

    }
    #postBody {

    }
    .PostsDiv{

    }
    #postUL  {
        
    }
}


@media only screen and (min-width: 1025px) and (max-width: 1200px){
    #postLI {

    }
    #postBody {

    }
    .PostsDiv{

    }
    #postUL  {
        
    }
}