li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
} 
#aboutYou {
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-radius: 1.5em;
    border-color:rgb(127, 34, 204) ;
    border-width: .15em;
    font-size: x-large;
    color: aliceblue;
    font-weight: 400;
    margin:1em;
    padding: 1em;
    width: 25em;
    background-color:rgba(0, 0, 0, 0.5);
    color: aliceblue;
}

#linkIcons {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    border-style: solid;
    border-radius: 1.5em;
    border-color:rgb(127, 34, 204) ;
    background-color: rgba(0, 0, 0, 0.5);
    border-width: .15em;
    margin:2em;
}
h2 {
    color: aliceblue;
}

#linkcont {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-style: solid;
    border-radius: 1.5em;
    border-color:rgb(127, 34, 204) ;
    border-width: .15em;
    margin:2em;
    background-color: rgba(0, 0, 0, 0.5);

}